* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgba(27, 39, 61, .95) !important;
}

.nav-link {
    color: #fff !important;
    text-transform: uppercase;
    opacity: .8;
    font-size: 16px;
    padding: 0.5rem;
    letter-spacing: 0.06rem;
}

button {
    color: #4a25aa;
    font-size: 17px;
    font-weight: 500;
    border: none;
    padding: 10px 30px;
    outline: none;
    border-radius: 5px;
    background-color: #e0e721;
    transition: 0.5s;
}

button:hover {
    border-radius: 25px;
    color: #fff;
}

@media only screen and (max-width: 420px) {
    header .img {
        width: 100px;
        height: auto;
    }
}